package ${package.Mapper};

import org.springframework.stereotype.Repository;
import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * @author: ${author}
 * @date: ${date}
 * @description: $!{table.comment} Mapper接口
 */
@Repository
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
